<%- partial('_partial/head') %>
<body>
<header><%- partial('_partial/header') %></header>
<section class="mod-content">
    <div class="post-content">
      <%- body %>
    </div>
</section>
<footer id="colophon" class="site-footer" role="contentinfo"><%- partial('_partial/footer') %></footer>
<%- partial('_partial/googleanalytics') %>
</body>
</html>